# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# For testing purposes
keycloak-secrets.yaml
rmf-web-rmf-server-configmap.yaml
rmf-web-rmf-server-secrets.yaml

caddy.yaml
cleanerbota.yaml
cleanerbote.yaml
deliveryrobot.yaml
tinyrobot.yaml

keycloak.yaml
rmf-simulation-modules.yaml

floorplan-configmap-bkup.yaml
*bkup.*

delta.yaml
kabam.yaml
omron.yaml
panasonic.yaml
mir.yaml
lionsbot.yaml

rmf-core-modules.yaml
rmf-web-modules.yaml
# rmf-site-modules.yaml

# building-configmap.yaml
# cyclonedds-configmap.yaml
# dorma-configmap.yaml
# floorplan-configmap.yaml
keycloak-secrets.yaml
# kone-configmap.yaml
lionsbot-leoscrub-configmap.yaml
lionsbot-r3-configmap.yaml
mir-configmap.yaml
nav-graph-configmap.yaml