# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# For testing purposes
building-configmap.yaml
# nav-graph-configmap.yaml
# cyclonedds-configmap.yaml
keycloak-secrets.yaml
rmf-web-rmf-server-configmap.yaml
rmf-web-rmf-server-secrets.yaml

caddy.yaml
cleanerbota.yaml
cleanerbote.yaml
deliveryrobot.yaml
delta.yaml
kabam.yaml
omron.yaml
# panasonic_hospi.yaml
panasonic_wheelchair.yaml
tinyrobot.yaml

keycloak.yaml
# rmf-core-modules.yaml
# rmf-web-modules.yaml
rmf-simulation-modules.yaml

# floorplan-configmap.yaml
floorplan-configmap-bkup.yaml
*bkup.*