# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# ConfigMap files. Not necessary for Galen demo
floorplan-configmap.yaml
rmf-web-rmf-server-configmap.yaml
rmf-web-rmf-server-secrets.yaml
keycloak-secrets.yaml
caddy.yaml
cleanerbota.yaml
cleanerbote.yaml
deliveryrobot.yaml
tinyrobot.yaml

# RMF Web relevant files. Not necessary for Galen demo
keycloak.yaml
rmf-web-modules.yaml

# Simulation files. Not necessary for Galen demo
rmf-simulation-modules.yaml

rmf-core-modules.yaml
building-configmap.yaml